$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;
$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.disable-message-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:65vh;
}

.disable-ok-button{
  color: $bright;
  background-color: $dark;
  margin-top: 4em;
  font-size: $middle-font-size ;
  border: $grey solid 1px;
  width: 30%;
  max-width: 300px;
  border: $green solid 1px;
}

.disable-ok-button:hover{
  color: $dark;
  background-color:$grey ;
}
  