$green: #85e697;

.global-container-register{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.register-fields{
  width:40%
}

.redirect{
  color:$green;
}

.redirect:hover {
  color: rgb(96, 53, 227);
}
