
<div class="global-container-register">
  <h1>Sign Up</h1>
  <div class="register-fields">

    <div class="formGroup">
      <input
        type="email"
        class="formControl loginIn-input"
        placeholder="Your Email"
        #userEmail
        required
      />
    </div>
  
    <div class="formGroup">
      <input
        type="password"
        class="formControl loginIn-input"
        placeholder="New Password"
        #userPwd
        required
      />
    </div>

    <div class="formGroup loginIn-input">
      <input
        type="displayName"
        class="formControl"
        placeholder="Your Display Name"
        #displayName
        required
      />
    </div>

    <button mat-button (click)="register(userEmail.value, userPwd.value, displayName.value)">Sign Up</button>
  
    <div class="toSignInContainer">
      <span class="toSignIn"
        >Go to
        <span class="redirect" routerLink="/login">
          Sign In</span></span>
    </div>

  </div>
</div>
  
