
<footer>
  
  <div class="footer-container"> 

    <div class="footer-box">
      <div class="box-one">
        <div >
          <img class="bw-logo" src="../assets/bw.logo.webp" alt="Black and white Simon Says logo">
        </div>
        <p class="title">Simon Says</p>
      </div>
      <p class="rights-message">@2022 created by Jamie O'Beirne</p>
      <p class="rights-message">Ask-For-What-You-Want Productions</p>
      <p>Cookies</p>
      <p>Contact Us</p>
      <p>Whatever</p>
    </div>


    <div class="footer-box">
      <p>Join Our Team</p>
    </div>


    <div class="footer-box">
      <p>Follow us</p>
    </div>
  </div>
    
  
</footer>