$dark:#000000;
$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;


$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;


footer{
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  background: $grey;
  height:30em;
  color: white;
  font-size: .7em;
}

@media only screen and (max-width: 768px) {
  footer{
    
    height:auto;
  }
}

.footer-container{
  display: flex;
}

@media only screen and (max-width: 768px) {
  .footer-container{
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.footer-box{
  width: 33.3%;
  border-right: solid 1px $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:auto;
  padding-right: 2em;
}

@media only screen and (max-width: 768px) {
  .footer-box{
    width: 100%;
    border-right: none;
    border-bottom: solid 1px $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    padding-bottom: 5em;
    padding-top: 5em;
  }

  .footer-box:last-of-type{
    border-bottom: none;
  }

}


.footer-box:last-of-type{
  border-right: none;
}


.logo-Simon-Says-container{
 display: flex;
 align-items: center;
}


.title{
  color:$bright;
  font-size:1.6em;
  font-family: $block-font;
  margin-left: .5em;
}

.rights-message{
color:$light-grey
}

.media-icons{
  display:flex;
  flex-direction: column;
}

fa-icon{
  font-size:2.5em;
  margin-top: .6em;
}

fa-icon:first-of-type{
  margin-top: 0;
}