  
<div class="global-container-dashboard">

  <div class="center">
    <h1>User Page</h1>
  </div>

  <div class="central-container-dashboard">

    <div class ="right-container">
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
        proident.</p>
      <button mat-button (click)="openVoiceTool()" 
      class="speaking-button">Accuracy Tool</button>
      <button mat-button (click)="openVoiceTool()" 
        class="speaking-button">Prounciation Tool</button>
      <button mat-button (click)="openVoiceTool()" 
        class="speaking-button">Speech To Text Tool</button>
    </div>
    
    <div class ="left-container center">
      <mat-card class="card-background">
        <mat-card-title class="mat-list-title">Your profile information:</mat-card-title>
        <mat-card-actions>
          <mat-list role="list">
            <!--
                <input
              type="displayName"
              class="formControl"
              value= '{{authService.userInfo.displayName}}'
              #displayName
              required
              />
            </mat-list-item>
            -->
            <mat-list-item role="listitem">Dispay name: {{ authService.userInfo.displayName}}</mat-list-item>
            <mat-list-item role="listitem">Email: {{ authService.userInfo.email}}</mat-list-item>
            <mat-list-item role="listitem" class="mat-list-item">ID: {{authService.userInfo.uid}} </mat-list-item>
            <mat-list-item role="listitem">Verified: {{authService.userInfo.emailVerified}}</mat-list-item>
            <mat-list-item role="listitem" >Disabled: {{authService.userInfo.isDisabled}}</mat-list-item>
            <mat-list-item role="listitem">Role: <span *ngFor="let role of authService.userInfo.roles | keyvalue"> {{role.key}}</span></mat-list-item>
          </mat-list>
        </mat-card-actions>
    
        <button mat-button (click)="disableConfirmation(authService.userInfo.uid)">Disable</button>
        <button mat-button><fa-icon [icon]="faPencil" size="lg" (click)="goToEdit()"></fa-icon></button>
      </mat-card>
    </div>
  </div>
</div>



 

