$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;
$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.global-container-dashboard{
  margin-top: 2em;
  margin-bottom: 9em;
}

.central-container-dashboard{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3em;
}

.left-container, 
  .right-container{
   width: 50%;
}

.right-container{
  margin-right: 15em;
}

button{
  background-color: $bright;
  color:$dark;
}

button:hover{
  color: $bright;
  background-color:$green;
}

button:nth-of-type(2){
  margin-left: 1.1em;
}

.speaking-button{
  color: $bright;
  background-color: $dark;
  margin-top: 1.5em;
  font-size: $large-font-size ;
  border: $grey solid 1px;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
}

.speaking-button:hover{
  color: $dark;
  background-color:$grey ;
}

.card-background{
  background-color: $grey;
  min-width: 400px;
}

mat-card {
  margin-top: 1em;
  width: 55%;
  margin-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

.mat-list-title{
  font-size: $small-font-size;
}

.mat-list-item{
  font-size: $small-font-size;
  border-bottom: 1px solid $light-grey;
}

.edit-delete-button{
  background-color: white;
  color:$green;
  margin-right: 2em;
}

.center{
  display:flex;
  flex-direction: row;
  justify-content: center;
}