  
<div class="global-container-dashboard">
  <!--
  <button *ngIf="authService.canView"
  (click)="editPost()">
  Edit Post
  </button>
  -->
  <h1 class="h2">User Page!</h1>
  <button mat-button (click)="openVoiceTool()" 
    class="speaking-button">Go to Speaking Tool</button>
  <mat-card class="card-background-color">
        <mat-card-title class="mat-list-title">This is your user information from the database.</mat-card-title>
        <mat-card-actions>
          <mat-list role="list">
            <mat-list-item role="listitem" class="mat-list-item">Your ID: <strong>{{ authService.userInfo.uid}}</strong> </mat-list-item>
            <mat-list-item role="listitem">Your Email:<strong>{{ authService.userInfo.email}}</strong></mat-list-item>
            <mat-list-item role="listitem">Verified:<strong>{{authService.userInfo.emailVerified}}</strong></mat-list-item>
            <mat-list-item role="listitem">Your Role:<strong *ngFor="let role of authService.userInfo.roles | keyvalue">{{role.key}}</strong></mat-list-item>
          </mat-list>
        </mat-card-actions>
        <button mat-button class="edit-delete-button">Edit</button>
        <button mat-button class="edit-delete-button">Delete Account</button>
  </mat-card>
  <!--
  <div class="dashboard-link-container">
    <input
      class="dashboard-link"
      type="button"
      value=""
      
    />
  </div>
  -->
</div>
 

