<div class="global-container-home">
  <div class="background-image-container">
    <div class="background-image"></div>
  </div>
  <h1 class="welcome-message">Speaking well matters!</h1>
  <button mat-button class="sign-up-button" (click)="openLoginPage()">Sign Up</button>
  <div class="message">
    <h2>Accuracy</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. e irure dolor in reprehenderit in voluptate velit esse cillum dolorconsectetur 
      adipiscing elit, sed do eiusmod tempor incididunt ut in voluptate velit esse cillum dolor
      labore et dolore magna aliqua. e irure dolor in reprehenderit  </h4>
    <button mat-button class="sign-up-button-small" (click)="openLoginPage()">Sign Up</button>
  </div>
  <div class="message">
    <h2>Pronunciation</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. e irure dolor in reprehenderit in voluptate velit esse cillum dolorconsectetur 
      adipiscing elit, sed do eiusmod tempor incididunt ut in voluptate velit esse cillum dolor
      labore et dolore magna aliqua. e irure dolor in reprehenderit  </h4>
    <button mat-button class="sign-up-button-small" (click)="openLoginPage()">Sign Up</button>
  </div><div class="message">
    <h2>Vocabulary</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. e irure dolor in reprehenderit in voluptate velit esse cillum dolorconsectetur 
      adipiscing elit, sed do eiusmod tempor incididunt ut in voluptate velit esse cillum dolor
      labore et dolore magna aliqua. e irure dolor in reprehenderit  </h4>
    <button mat-button class="sign-up-button-small" (click)="openLoginPage()">Sign Up</button>
  </div>
</div>


