$grey: #878c88;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;

$block-font:"Oswald";
$decorative-fonts:"Quattrocento";

$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.global-container-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image{
  background: url(../../../assets/large-happy.webp); 
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  height:35vh;
  width: 100vw;
}

.welcome-message{
  color: $grey;
  font-size: 2.9em;
  text-shadow: 1px 1px 2px $green;
}

.sign-up-button{
  color: $bright;
  background-color: $dark;
  font-size: $large-font-size ;
  border: $grey solid 1px;
  width: 50%;
  max-width: 400px;
  border: $green solid 1px;
}

.sign-up-button-small{
  color: $bright;
  background-color: $dark;
  margin-top: 1em;
  font-size: $middle-font-size ;
  border: $grey solid 1px;
  width: 30%;
  max-width: 300px;
  border: $green solid 1px;
}

.sign-up-button:hover, .sign-up-button-small:hover{
  color: $dark;
  background-color:$grey ;
}

.message{
  width:1200px;
  border-bottom:solid 1px $grey;
  padding-bottom: 3em;
  text-align: left;
  margin-top:7.5em;
}
