

<nav>
  <div class="top-navigation navbar-background">
      
    <div class="icon-title-container">
      <li >
        <a href="/home" class="" 
        routerLink="home" 
        (click)="logout()">
        <img class="icon" 
        src="../assets/simons-says.webp"  
        width="90"  
        alt="Simon Says icon">
        </a>
      </li>
      <h1 class="navbar-title">Simon Says</h1>
    </div>
      
    <div class="nav-links-container">
      <li>
        <a href="/login" 
        class="nav-link-item" 
        *ngIf="!isLoggedIn" 
        routerLink="login">Sign In</a>
      </li>
      <li>
        <a class="nav-link-item" 
        *ngIf="isLoggedIn"  
        (click)="goToUserUsersManual()">User's Manual</a>
      </li>
      <li>
        <a class="nav-link-item" 
        *ngIf="isLoggedIn"  
        (click)="goToUserPage()">User Page</a>
      </li>
      <li>
        <a class="nav-link-item" 
        *ngIf="isLoggedIn && isAdmin" 
        routerLink="list">List of Users</a>
      </li>
      <li>
        <a class="nav-link-item" 
        *ngIf="isLoggedIn" 
        (click)="logout()">LogOut</a>
      </li>
      
    </div>

  </div>
</nav>


<router-outlet></router-outlet>

<app-footer></app-footer>

