$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;


$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}


/*main navigation*/
.top-navigation{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  border-bottom: none;
  position: relative;
}

.top-navigation::after{
  content:"";
  background: -webkit-linear-gradient(left, $dark 0%, $light-grey 47%, $dark 100%);
  display: block;
  height:4px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.icon-title-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .icon-title-container{
    margin-left: 10px;
  }
}

.icon{
 margin-right: .8em;
 width:90px;
}

@media only screen and (max-width: 1200px) {
  .icon{
    margin-right: .3em;
    width:70px;
  }
}

.navbar-title{
  color:$green;
  font-size: 2.8em;
  font-family: $block-font;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .navbar-title{
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 640px) {
  .navbar-title{
    font-size: 1.5em;
  }
}


.large-sreen-nav-links-container{
  display: flex;
  flex-flow: row;
  margin-right: 40px;
}

@media only screen and (max-width: 1200px) {
  .large-sreen-nav-links-container{
    margin-right: 10px;
  }
}


@media only screen and (max-width: 768px) {
  .large-sreen-nav-links-container{
    display: none;
  }
}


.nav-link-item{
  margin-right: 1em;
  margin-left: 2em;
}

@media only screen and (max-width: 1200px) {
  li{
    font-size: .8em;
  }
}

.top-navigation a{
  color:$green;
  text-decoration: none;
  font-size: 1.3em;
  font-family: $block-font ;
}

.top-navigation a:hover {
  color: $dark;
}

.navbar-background{
  background-color: $grey;
}

/*hamburger menu*/
.hamburger-container{
  display: none;
}

@media only screen and (max-width: 768px) {
  .hamburger-container{
    display: block;
  }
}


.mat-button {
margin-right: .5em;
color: $green;
font-size: 1.8em;
}

.mat-menu-item{
  font-size: 1em;
  color: $green;
}


