
$grey: #878c88;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;
$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.top-navigation{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  border-bottom: none;
  position: relative;
}

.top-navigation::after{
  content:"";
  background: -webkit-linear-gradient(left, $dark 0%, $light-grey 47%, $dark 100%);
  display: block;
  height:4px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.icon-title-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 20px;
}

.icon{
 margin-right: .8em;
}

.navbar-title{
  color:$green;
  font-size: 2.8em;
  font-family: $block-font;
  margin: 0;
}

.nav-links-container{
  display: flex;
  flex-flow: row;
  margin-right: 40px;
}

.nav-link-item{
  margin-right: 1em;
  margin-left: 2em;
}

.top-navigation a{
  color:$green;
  text-decoration: none;
  font-size: 1.3em;
  font-family: $block-font ;
}

.top-navigation a:hover {
  color: $dark;
}

.navbar-background{
  background-color: $grey;
}
