
<nav>
  <div class="top-navigation navbar-background">
    
    <div class="icon-title-container">
      <li >
        <a href="/home"
        routerLink="home" 
        (click)="logout()">
        <img class="icon"
        width="90" height="auto"
        src="../assets/simons-says.webp"    
        alt="Simon Says icon">
        </a>
      </li>
      <h1 class="navbar-title" >Simon Says</h1>
    </div>
        

    <div class="large-sreen-nav-links-container">
      <li>
        <a href="/home" 
        class="nav-link-item"
        *ngIf="!isLoggedIn" 
        routerLink="home">Home</a>
      </li>

      <li>
        <a href="/login" 
        class="nav-link-item"
        *ngIf="!isLoggedIn" 
        routerLink="login">Sign In</a>
      </li>

      <li>
        <a href="/users-manual"
        class="nav-link-item" 
        routerLink="users-manual"
        >User's Manual</a>
      </li>
 
      <li>
        <a href="/dashboard"
        class="nav-link-item" 
        *ngIf="isLoggedIn"  
        routerLink="dashboard">User Page</a>
      </li>   

      <li>
        <a class="nav-link-item" 
        *ngIf="isLoggedIn && isAdmin" 
        routerLink="list">List of Users</a>
      </li>

      <li>
        <a href=""
        class="nav-link-item" 
        *ngIf="isLoggedIn" 
        (click)="logout()">LogOut</a>
      </li>
    </div>

     

    <div class="hamburger-container">
      <button mat-button className="hamburger" [matMenuTriggerFor]="menu"><fa-icon [icon]="faBars"></fa-icon></button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item *ngIf="!isLoggedIn">
          <a href="/home" 
          class="nav-link-item"
          *ngIf="!isLoggedIn" 
          routerLink="home">Home</a>
        </button>


        <button mat-menu-item *ngIf="!isLoggedIn">
          <a href="/login" 
          class="nav-link-item"
          *ngIf="!isLoggedIn" 
          routerLink="login">Sign In</a>
        </button>

        <button mat-menu-item>
          <a 
          class="nav-link-item"   
          href="/users-manual"
          routerLink="users-manual"
          >User's Manual</a>
        </button>

        <button mat-menu-item *ngIf="isLoggedIn">
          <a href="/dashboard"
          class="nav-link-item" 
          routerLink="dashboard">User Page</a>
        </button>

        <button mat-menu-item *ngIf="isLoggedIn && isAdmin" >
           <a class="nav-link-item" 
            *ngIf="isLoggedIn && isAdmin" 
            routerLink="list">List of Users</a>
        </button>

        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()" >
          <a href=""
          class="nav-link-item" 
          *ngIf="isLoggedIn" 
          (click)="logout()">LogOut</a>
        </button>
 
      </mat-menu>
    </div>


  </div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>

