.global-container-voice-tool{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-fields{
  width:40%
}

.microphone{
  margin-top: 5em;
}


.microphone-text{
  margin-top: 2em;
}
