$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;


$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.global-container-voice-tool{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;
  height:75vh;
}
@media only screen and (max-width: 640px) {
  .global-container-voice-tool{
    margin-bottom: 5em;
    height: auto;
  }
}


@media only screen and (max-width: 1024px) {
  .voice-tool-message{
    width: 60%;
  }
}

.login-fields{
  width:40%
}

.microphone{
  margin-top: 3em;
  margin-right: 10%;//help center icon
}


@media only screen and (max-width: 1024px) {
  .microphone{
    margin-right: 25%;//help center icon
  }
}
@media only screen and (max-width: 768px) {
  .microphone{
    margin-right: 35%;//help center icon
  }
}

i:hover{
  color:$light-grey;
} 

i:active{
  color:$green;
} 


.microphone-text{
  margin-bottom: 3em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right:2em;
  color:$green;
}

@media only screen and (max-width: 640px) {
  .microphone-text{
   
    margin-left:4em;
    margin-right:4em;

  }
}

.add-green-color-to-text{
  color:$green;
}
