$dark:#000000;
$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;


$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;

p,h1{
  font-family: $decorative-fonts;
}

.global-container-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 20%;
}

.signIn-input{
  border: 1px solid $light-grey ;
}

button{
  background:$dark;
  color:$bright;
  border:$green 1px solid;
}

button:hover{
  color: $bright;
  background-color:$green;
}

.redirectToLogin{
  color:$dark;
}

.redirect{
 color:$green;
}

.redirect:hover{
  color:$light-grey;
 }

.toSignUpContainer{
  margin-top: 2em;
}

.toSignUp{
  font-size:$small-font-size ;
}

.login-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 420px;
}
