
<div class="global-container-login">
  <h1>Sign In</h1>
  <div class="login-fields">
    <div class="formGroup">
      <input
        type="text"
        class="formControl signIn-input"
        placeholder="Your Email"
        #userEmail
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="password"
        class="formControl signIn-input"
        placeholder="Your Password"
        #userPassword
        required
      />
    </div>

    <div>
      <!--
      <input
        type="button"
        class=""
        value="Sign In"
        (click)="login(userEmail.value, userPassword.value)"
      />-->
    
      <button mat-button (click)="login(userEmail.value, userPassword.value)">Sign In</button>
      <div class="toSignUpContainer">
        <span class="toSignUp"
          >Go to <span
            class="redirect"
            routerLink="/register">
            Sign Up</span></span>
      </div>
    </div>
  </div>

  
</div>
      
  
