$grey: #3c3d41;
$light-grey: #abafac;
$green: #85e697;
$bright: #FFFFFF;
$dark:#000000;


$block-font:"Oswald";
$decorative-fonts:"Quattrocento";
$small-font-size:.8em;
$middle-font-size:1em;
$large-font-size:1.3em;


p,h1, h2{
  font-family: $decorative-fonts;
  
}

.verification-message-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:65vh;
  margin-top: 2em;
  margin-bottom: 4em;
}

@media only screen and (max-width: 768px) {
  .verification-message-container{
    height:auto;
    margin-top: 4em;
    margin-bottom: 5em;
  }
}


@media only screen and (max-width: 768px) {
  p,h1, h2{
    width: 60%;
  }
} 


.toSignInContainer{
  margin-top: 2em;
}

.toSignIn{
  font-size:$small-font-size ;
}

.redirect{
  color:$green;
}

.redirect:hover{
  color:$light-grey;
}